<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Formulaire</h1>
    	<form action="#" th:action="@{/search}" th:object="${search}" method="post">
	    	<p>Nom de la page Wikipédia: <input type="text" th:field="*{name}" /></p>
	        <p>Langue: <select th:field="*{language}">
				<option value="fr">Français</option>
				<option value="en">Anglais</option>
			</select>
			</p>
	        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	    </form>
	</body>
	</html>