<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Bienvenue sur notre super appli ! </h1>
    <p>Ici, vous pourrez récupérer plein de tableaux CSV issus de Wikipédia. Pour commencer à chercher, clique sur le chien ci-dessous !</p>
    <a href="/search"> <img src="https://i.chzbgr.com/full/7975470080/h108FF5C1/some-dogs-just-dont-know-when-to-stop-digging" alt="Gif de chien qui creuse"></a>
</body>
</html>